<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Timetracking - Work Day Time Log</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css"/>
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
  <link href="styles.css" rel="stylesheet" type="text/css"/>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
</head>
<body>
  <h2>Log your time!</h2>
  <form id="app" @submit="submitWorkingtimes">
    <table width='100%'>
      <tr>
        <td width='30%'>
          <h4>Input Form</h4>
          <!-- TODO: form fields could be easily generated and validated by https://github.com/vue-generators/vue-form-generator 
          <!-- TODO: validate: sum(working time) - sum(task-duration) = 0 -->
          
          <table>
            <tbody>
              <tr>
                <td>Date:</td>
                <td><input class="input-medium" v-model="logdate"></input></td>
              </tr>
              <tr>
                <td><button @click="getWorkingtimes">GET</button></td>
                <td><button @click="submitWorkingtimes">POST</button></td>
              </tr>
              <!-- TODO repeat over working time block, button to add more  -->
              <tr>
                <td>Working Time Start:</td>
                <td><input class="input-medium" v-model="workingtimeStart"/></td>
              </tr>
              <tr>
                <td>Working Time End:</td>
                <td><input class="input-medium" v-model="workingtimeEnd"/></td>
              </tr>
              <tr>
                <!-- TODO bind and calculate duration  -->
                <td>Working Time Duration:</td>
                <td><input class="input-medium" v-model="workingtimeDuration"/></td>
              </tr>
              <tr>
                <!-- TODO calculate duration  -->
                <td>Break Duration:</td>
                <td><input class="input-medium" v-model="breakDuration"/></td>
              </tr>

            </tbody>
          </table>
        </td>
        <td width='40%'>
          <h4>XML Data Model</h4>
          <!-- <pre v-if="bookings" v-html="prettyJSON(bookings)"></pre> -->
          <div>
            {{fetchState}}
          </div>
        </td>
      </tr>
    </table>
    
    <!-- TODO XsltForms did not repeat within a table. Make this pretty -->
    <ul>
        <li v-for="(booking, index) in bookings">
          <p>Task: {{booking.title}}</p>
          <p><input class="input-medium" v-model="booking.description"/></p>
          <p v-if="index > 0">
            <button @click="removeBooking(index)">X</button>
          </p>
          <p>
            <span>Billable:</span>
            <span>
              <select v-model="booking.billable">
                <option>yes</option>
                <option>no</option>
                <option>depends</option>
              </select>
            </span>
          </p>
        </li>
        
    </ul>
    <button @click="addBooking">Add</button>
  </form>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        logdate: new Date(),
        fetchState: "nothing to do",
        workingtimeStart: 10,
        workingtimeEnd: 18.5,
        workingtimeDuration: 8.5 ,
        breakDuration: 0.5,
        bookings: [ {
          title: "dummy title",
          description: "dummy description",
          billable: "no"
        }]
      },
      filters: {
        // TODO: implement this filter. Cannot be used in two-way binding in attributes?
        asHours: function (value) {
          if (!value) return '';
          return concat(String(Math.trunc(value)).padStart(2, "0"), ':', String((value - Math.trunc(value) * 60)).padStart(2, "0")); 
        }
      },
      methods: {
        getWorkingtimes: function (e) {
          e.preventDefault()
          // TODO
          console.log("getWorkingTimes")
        },
        submitWorkingtimes: function (e) {
          e.preventDefault()
          // TODO
          console.log("submitWorkingTimes")
        },
        removeBooking: function(index) {
          this.bookings.splice(index, 1)
        },
        addBooking: function(index) {
          this.bookings.push({
            title:"",
            description:"",
            billable: "no"
          })
        }
      } 
    })
  </script>
</body>
</html>
