<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- DEPENDENCIES -->
  <!-- import reset and material stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" type="text/css">
  <!-- import vue-mdc-adapter stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/vue-mdc-adapter@^0.6.5/dist/vue-mdc-adapter.min.css" type="text/css">
  <!-- import vue and then vue-mdc-adapter -->
  <script src="https://unpkg.com/vue@^2.5.17/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-mdc-adapter@^0.6.5/dist/vue-mdc-adapter.min.js"></script>
  <script src="https://unpkg.com/axios@^0.18.0/dist/axios.min.js"></script>
  <script src="https://unpkg.com/uiv@^0.26.2/dist/uiv.min.js"></script>
  <!-- local dependencies -->
  <script src="xml2json.js"></script>
  <script src="luxon.js"></script>
  
  <title>Timetracking - Work Day Time Log</title>
  <link href="styles.css" rel="stylesheet" type="text/css"/>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
</head>
<body>
  <div class="container">
    <div id="app">
      <div>User: Jörn Willhöft</div>
      <input v-model="workingday._date" value="" type="date" placeholder="MM/DD/YYYY" overflow="hidden" text-overflow="ellipsis"/>
      <mdc-textfield label="unbooked time" value="07:30" type="text" readonly disabled></mdc-textfield>
      <div>Working Time</div>
      <!-- TODO: define a :key for all v-for uses. See https://vuejs.org/v2/style-guide/#Keyed-v-for-essential -->
      <div v-for="wt in workingday.workingtime">
        <mdc-textfield v-model="wt._start" label="begin" value="10:00" type="text" ></mdc-textfield>
        <mdc-textfield v-model="wt._end" label="end" value="19:00" type="text" ></mdc-textfield>
        <mdc-textfield v-model="wt._duration" label="duration" value="09:00" type="text" ></mdc-textfield>
        <mdc-textfield label="comment" value="" type="text" multiline rows="1" cols="100"></mdc-textfield>
        <mdc-fab icon="delete"></mdc-fab>        
      </div>
      <mdc-fab icon="add"></mdc-fab>
      <div>Breaks</div>
      <div v-for="b in workingday.break">
        <mdc-textfield label="begin" value="" type="text" ></mdc-textfield>
        <mdc-textfield label="end" value="" type="text" ></mdc-textfield>
        <mdc-textfield v-model="b._duration" label="duration" value="0:30" type="text" ></mdc-textfield>
        <mdc-textfield label="comment" value="" type="text" multiline rows="1" cols="100"></mdc-textfield>
        <mdc-fab icon="delete"></mdc-fab>
      </div>
      <mdc-fab icon="add"></mdc-fab>
      <div>Bookings</div>
      <div v-for="(booking, index) in workingday.booking">
        <!-- TODO: load and select titles from tasks.id and booking._taskid -->
        <mdc-select label="Task" value="task_123">
          <option value="task_123">{{booking.tasktitle}}</option>
          <option value="task_456">Dummy</option>
          <option value="c">Dummy2</option>
        </mdc-select>
        <mdc-textfield label="begin" value="" type="text" ></mdc-textfield>
        <mdc-textfield label="end" value="" type="text" ></mdc-textfield>
        <mdc-textfield label="duration" value="01:30" type="text" ></mdc-textfield>
        <!-- TODO: change to checkbox with indeterminate or to three "chips" -->
        <mdc-select v-model="booking._billable" label="billable">
          <option value="yes">yes</option>
          <option value="no">no</option>
          <option value="depends">depends</option>
        </mdc-select>
        <mdc-textfield v-model="booking.description" label="description" value="Designed UI for time tracker" type="text" multiline rows="1" cols="100"></mdc-textfield>
        <mdc-fab @click="removeBooking(index)" icon="delete"></mdc-fab>
      </div>
      <mdc-fab @click="addBooking" icon="add"></mdc-fab>
      <div>
        <mdc-button @click="submitWorkingtimes" raised>submit</mdc-button>
        <mdc-button @click="getWorkingtimes">reset</mdc-button>
      </div>
      <h4>JSON Data Model</h4>
      <!--<pre v-if="workingday" v-html="prettyJSON(workingday)"></pre> -->
      <div>
        {{fetchState}}
      </div>
    </div>
  </div>

  <script>
    function durationAsHours(s) {
      const d = luxon.Duration.fromISO(s)
      if (!d) return d
      return d.toFormat("hh:mm")
    }

    const vm = new Vue({
      el: '#app',
      data: {
        fetchState: "nothing to do",
        // TODO: check/fix console error "workingday is null"
        workingday: null
      },
      created: function () {
        this.getWorkingtimes()
      },
      methods: {
        getWorkingtimes: function () {
          console.log("getWorkingtimes")
          const urlDate = (this.workingday && this.workingday._date) ? ("/" + this.workingday._date) : ""
          this.fetchState = "fetching.."
          const self = this
          axios.get('../api/timetrack' + urlDate)
            .then(function (response) {
              console.log(response);
              const x2js = new X2JS({
                arrayAccessFormPaths : [
                  "workingday.workingtime", "workingday.break", "workingday.booking"
                ]
              });
              console.log("json model");
              const d = x2js.xml_str2json(response.data).workingday;
              // TODO: Do it generically for all _duration attributes, traversing the tree
              if (d.workingtime) {
                d.workingtime[0]._duration = durationAsHours(d.workingtime[0]._duration);
              }
              self.workingday = d;
              console.log(self.workingday);
              self.fetchState = "fetched!"
            })
            .catch(function (error) {
              console.log(error);
              self.fetchState = "ERROR: " + error
            });
        },
        submitWorkingtimes: function () {
          // TODO
          console.log("submitWorkingTimes")
        },
        removeBooking: function(index) {
          this.workingday.booking.splice(index, 1)
        },
        addBooking: function() {
          console.log("addBooking")
          const b = {
            // _taskid:0,
            _duration: "PT0H",
            description:"",
            _billable: "no"
          }
          if (!this.workingday.booking) {
            Vue.set(this.workingday, 'booking', [b])
          } else {
            this.workingday.booking.push(b)
          }

        }
      }
    })
  </script>
</body>
</html>
