<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!-- DEPENDENCIES -->
  <!-- import reset and material stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" type="text/css">
  <!-- import vue-mdc-adapter stylesheet -->
  <link rel="stylesheet" href="https://unpkg.com/vue-mdc-adapter@^0.6.5/dist/vue-mdc-adapter.min.css" type="text/css">
  <!-- import vue and then vue-mdc-adapter -->
  <script src="https://unpkg.com/vue@^2.5.17/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-mdc-adapter@^0.6.5/dist/vue-mdc-adapter.min.js"></script>
  <script src="https://unpkg.com/axios@^0.18.0/dist/axios.min.js"></script>
  <script src="https://unpkg.com/uiv@^0.26.2/dist/uiv.min.js"></script>
  <!-- local dependencies -->
  <script src="xml2json.js"></script>
  <script src="luxon.js"></script>
  <script src="js-deep-filter.js"></script>
  
  <title>Timetracking - Work Day Time Log</title>
  <link href="styles.css" rel="stylesheet" type="text/css"/>
  <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
</head>
<body>
  <div class="container">
    <div id="app">
      <!-- TODO: use material typography: mdc-text, mdc-headline, etc. -->
      <h2>User: Jörn Willhöft</h2>
      <mdc-layout-grid>
        <mdc-layout-cell span=2>
          <!-- TODO: change to a date/time picker component, e.g. https://github.com/mariomka/vue-datetime (no more timepicker?!)-->
          <input v-model="workingday._date" @change="getWorkingtimes()" type="date" overflow="hidden" text-overflow="ellipsis"/>
        </mdc-layout-cell>
        <mdc-layout-cell span=4>
          <div v-if="unbookedTime.valueOf() > 0">{{durationAsHours(unbookedTime)}} unbooked time</div>
          <div v-else-if="unbookedTime.valueOf() < 0">{{durationAsHours(unbookedTime)}} overbooked time</div>
          <div v-else>OK!</div>
        </mdc-layout-cell>
      </mdc-layout-grid>
      <h2>Working Time</h2>
      <!-- TODO: update duration on end change (all 3 items) -->
      <!-- TODO: update end on duration change (all 3 items) -->
      <div v-for="wt in workingday.workingtime" :key="wt.key">
        <mdc-layout-grid>
          <mdc-layout-cell span=1>
            <mdc-textfield v-model="wt._start" label="begin" type="time" ></mdc-textfield>
          </mdc-layout-cell>
          <mdc-layout-cell span=1>
            <mdc-textfield v-model="wt._end" label="end" type="time" ></mdc-textfield>
          </mdc-layout-cell>
          <mdc-layout-cell span=1>
            <mdc-duration-textfield v-model="wt._duration" ></mdc-duration-textfield>
          </mdc-layout-cell>
           <mdc-layout-cell span=8>
            <mdc-textfield v-model="wt.description" label="comment" type="text" multiline rows="1" cols="100"></mdc-textfield>
          </mdc-layout-cell>
          <mdc-layout-cell span=1>
            <mdc-fab @click="removeWorkingTime(wt)" icon="delete"></mdc-fab>        
          </mdc-layout-cell>
        </mdc-layout-grid>
      </div>
      <mdc-layout-grid>
        <mdc-layout-cell span=11></mdc-layout-cell>
        <mdc-layout-cell span=1>
          <mdc-fab @click="addWorkingTime" icon="add"></mdc-fab>
        </mdc-layout-cell>
      </mdc-layout-grid>
      <h2>Breaks</h2>
      <div v-for="b in workingday.break" :key="b.key">
        <mdc-layout-grid>
          <mdc-layout-cell span=1>
            <mdc-textfield v-model="b._start" label="begin" type="time" ></mdc-textfield>
          </mdc-layout-cell>
          <mdc-layout-cell span=1>
            <mdc-textfield v-model="b._end" label="end" type="time" ></mdc-textfield>
          </mdc-layout-cell>
          <mdc-layout-cell span=1>
            <mdc-duration-textfield v-model="b._duration" ></mdc-duration-textfield>
          </mdc-layout-cell>
          <mdc-layout-cell span=8>
            <mdc-textfield v-model="b.description" label="comment" type="text" multiline rows="1" cols="100"></mdc-textfield>
          </mdc-layout-cell>
          <mdc-layout-cell span=1>
            <mdc-fab @click="removeBreak(b)" icon="delete"></mdc-fab>
          </mdc-layout-cell>
      </div>
      <mdc-layout-grid>
        <mdc-layout-cell span=11></mdc-layout-cell>
        <mdc-layout-cell span=1>
          <mdc-fab @click="addBreak" icon="add"></mdc-fab>
        </mdc-layout-cell>
      </mdc-layout-grid>
      <h2>Bookings</h2>
      <div v-for="booking in workingday.booking" :key="booking.key">
        <mdc-layout-grid>
          <mdc-layout-cell span=2>
            <mdc-select v-model="booking._taskId" label="Task">
              <mdc-option v-for="t in tasks" v-bind:value="t._id">{{t._title}}</mdc-option>
            </mdc-select>
          </mdc-layout-cell>
          <mdc-layout-cell span=1>
            <mdc-textfield v-model="booking._start" label="begin" type="time" ></mdc-textfield>
          </mdc-layout-cell>
          <mdc-layout-cell span=1>
            <mdc-textfield v-model="booking._end" label="end" type="time" ></mdc-textfield>
          </mdc-layout-cell>
          <mdc-layout-cell span=1>
            <mdc-duration-textfield v-model="booking._duration"></mdc-duration-textfield>
          </mdc-layout-cell>
          <mdc-layout-cell span=1>
            <mdc-select v-model="booking._billable" label="billable">
              <mdc-option value="yes">yes</mdc-option>
              <mdc-option value="no">no</mdc-option>
              <mdc-option value="depends">depends</mdc-option>
            </mdc-select>
          </mdc-layout-cell>
          <mdc-layout-cell span=5>
            <mdc-textfield v-model="booking.description" label="description" value="Designed UI for time tracker" type="text" multiline rows="1" cols="100"></mdc-textfield>
          </mdc-layout-cell>
          <mdc-layout-cell span=1>
            <mdc-fab @click="removeBooking(booking)" icon="delete"></mdc-fab>
          </mdc-layout-cell>
      </div>
      <mdc-layout-grid>
        <mdc-layout-cell span=11></mdc-layout-cell>
        <mdc-layout-cell span=1>
          <mdc-fab @click="addBooking" icon="add"></mdc-fab>
        </mdc-layout-cell>
      </mdc-layout-grid>
      <div>
        <mdc-button @click="submitWorkingtimes" raised>submit</mdc-button>
        <mdc-button @click="getWorkingtimes">reset</mdc-button>
      </div>
      <div>
        {{fetchState}}
      </div>
    </div>
  </div>

  <script>
    // page scope unique key generator
    var pskey = 0
    
    const x2js = new X2JS({
      
      arrayAccessFormPaths : [
        "workingday.workingtime", "workingday.break", "workingday.booking"
      ]
      // TODO: check if "datetimeAccessFormPaths : []" can be used instead of luxon conversion in model
    });
    
    function durationAsHours(s) {
      const d = luxon.Duration.fromISO(s)
      if (!d) return d
      return d.toFormat("hh:mm")
    }
    
    function hoursAsDuration(s) {
      if (!s) return null
      return s.replace(/(\d?\d):(\d?\d).*/, "PT$1H$2M")
    }
    
    function addDefaultWorkingTime(wd) {
      const wt = {
        _start: "10:00",
        _duration: "PT9H30M", 
        description: "",
        key: pskey++
      }
      if (! wd.workingtime) {
        console.log("creating workingtime array")
        wd.workingtime = []
      }
      wd.workingtime.push(wt)
    }
    
    function addDefaultBreak(wd) {
      const b = {
        _duration: "PT0H30M", 
        description: "",
        key: pskey++
      }
      if (! wd.break) {
        console.log("creating break array")
        wd.break = []
      }
      wd.break.push(b)
    }
    
    function addDefaultBooking(wd) {
      const b = {
        _taskId: "1",
        _duration: "PT0H", 
        _billable: "depends",
        description: "",
        key: pskey++
      }
      if (! wd.booking) {
        console.log("creating booking array")
        wd.booking = []
      }
      wd.booking.push(b)
    }
    
    // TODO: handle validation errors correctly
    Vue.component('mdc-duration-textfield', {
      props: ['value'],
      template:
        `<mdc-textfield
          v-bind:value="durationAsHours(value)"
          @change.native="updateValue($event)"
          label="duration"
          type="text" >
        </mdc-textfield>`,
        methods: {
          // Instead of updating the value directly, this
          // method is used to format and place constraints
          // on the input's value
          updateValue: function (event) {
            // Emit the number value through the input event
            const value = event.target.value
            this.$emit('input', hoursAsDuration(value))
          }
        }
    })
        
    const server = axios.create({
      timeout: 1000,
      headers: {'Content-Type': 'application/xml; charset=UTF-8'}
      
    });

    const vm = new Vue({
      el: '#app',
      data: {
        fetchState: "nothing to do",
        workingday: {},
        // TODO: load tasks for user and date dynamically
        tasks: [{
          _id: 1,
          _title: "UI design",
          _billableDefault: "yes"
        }, {
          _id: 2,
          _title: "Implementation",
          _billableDefault: "yes"
        }, {
          _id: 3,
          _title: "Akquisition",
          _billableDefault: "no"
        }, {
          _id: 4,
          _title: "Long example dummmy task description",
          _billableDefault: "depends"
        } ]
      },
      computed: {
        unbookedTime() {
          if (! this.workingday.workingtime)
            return luxon.Duration.fromISO('PT0H')
          const wtsum = this.workingday.workingtime.reduce((total, wt) => {
            return total.plus(luxon.Duration.fromISO(wt._duration))
          }, luxon.Duration.fromISO('PT0H'));
          const netwtsum = (this.workingday.break) ? this.workingday.break.reduce((total, b) => {
            return total.minus(luxon.Duration.fromISO(b._duration))
          }, wtsum) : wtsum;
          const unbooked = (this.workingday.booking) ? this.workingday.booking.reduce((total, b) => {
            return total.minus(luxon.Duration.fromISO(b._duration))
          }, netwtsum) : netwtsum;
          return unbooked;
        }
      },
      created: function () {
        this.getWorkingtimes()
      },
      methods: {
        getWorkingtimes: function () {
          console.log("getWorkingtimes")
          const urlDate = (this.workingday && this.workingday._date) ? ("/" + this.workingday._date) : ""
          this.fetchState = "fetching.."
          const self = this
          server.get('../api/timetrack' + urlDate)
            .then(function (response) {
              console.log(response);
              const d = x2js.xml_str2json(response.data).workingday;
              if (! d.workingtime) {
                addDefaultWorkingTime(d);
              }
              if (! d.break) {
                addDefaultBreak(d);
              }
              if (! d.booking) {
                addDefaultBooking(d);
              }
              
              self.workingday = d;
              console.log(self.workingday);
              self.fetchState = "fetched!";
            })
            .catch(function (error) {
              console.log(error);
              self.fetchState = "ERROR: " + error
            });
        },
        submitWorkingtimes: function () {
          console.log("submitWorkingTimes (not yet implemented)")
          const outjs = deepFilter(this.workingday, function(value, prop, subject) {
            return prop !== 'key'
          })
          const xmlDocStr = x2js.json2xml_str(
            {
              workingday: outjs
            }
          );
          console.log(xmlDocStr);
          this.fetchState = "posting.."
          const self = this
          server.post('../api/timetrack', xmlDocStr)
            .then(function (response) {
              console.log(response);
              self.fetchState = "posted!";
            })
            .catch(function (error) {
              if (error.response) {
                // The request was made and the server responded with a status code
                // that falls out of the range of 2xx
                console.log(error.response.data);
                console.log(error.response.status);
                console.log(error.response.headers);
                self.fetchState = "ERROR " + error.response.status + ": " + error.response.data;
              } else if (error.request) {
                // The request was made but no response was received
                // `error.request` is an instance of XMLHttpRequest in the browser and an instance of
                // http.ClientRequest in node.js
                console.log(error.request);
                self.fetchState = "ERROR : Failed contacting server";
              } else {
                // Something happened in setting up the request that triggered an Error
                console.log('Error', error.message);
                self.fetchState = "ERROR : Failed setting up server request";
              }
          });
          
        },
        addWorkingTime: function() {
          console.log("addWorkingTime")
          addDefaultWorkingTime(this.workingday)
        },
        removeWorkingTime: function(wt) {
          this.workingday.workingtime.splice(this.workingday.workingtime.indexOf(wt), 1)
          if (this.workingday.workingtime.length==0) {
            addDefaultWorkingTime(this.workingday)
          }
        },
        addBreak: function() {
          console.log("addBreak")
          addDefaultBreak(this.workingday)
        },
        removeBreak: function(b) {
          this.workingday.break.splice(this.workingday.break.indexOf(b), 1)
          if (this.workingday.break.length==0) {
            addDefaultBreak(this.workingday)
          }
        },
        removeBooking: function(b) {
          this.workingday.booking.splice(this.workingday.booking.indexOf(b), 1)
          if (this.workingday.booking.length==0) {
            addDefaultBooking(this.workingday)
          }
        },
        addBooking: function() {
          console.log("addBooking")
          addDefaultBooking(this.workingday)
        }
      }
    })
  </script>
</body>
</html>
